---
layout: slide
title: "<%= slide_options.title %>"
slug: "<%= slide_options.slug %>"
group: <%= slide_options.group %>
sequence: <%= slide_options.sequence %>
---

<section>
  <h3>{{ page.title }}</h3>

  <p>one</p>
</section>

<section>
  <h3>{{ page.title }}</h3>

  <p>two</p>
</section>
