---
layout: slide
title: "<%= slide_options.title %>"
slug: "<%= slide_options.slug %>"
group: <%= slide_options.group %>
sequence: <%= slide_options.sequence %>
---


### {{ page.title }}

<div class="two-up"><div class="left">

* one
* two
* three

</div><div class="right">

* une
* deux
* troi

</div></div>
